<%- include("partials/header1") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

[class*="col-"] {
  float: center;
}
body {
  font-family: Arial;
  background: #f1f1f1;
  }
  .a{
    border: 2px solid rgb(255, 85, 85);
    color: white;
    background-color: rgb(255, 85, 85);
    text-align: left;
    font-size: 15px;
  }
  #more {
    display: none;
  }
  .fakeimg {
  background-color: rgb(255, 85, 85);
  color: white;
  width: 100%;
  padding: 20px;
  }
   .card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  }
  .accordion {
  background-color: rgb(255, 85, 85);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(255, 60, 60);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.accordion:after {
  content: '\02795';
  font-size: 15px;

  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.more {
  border-color: rgb(255, 85, 85);
  color: rgb(255, 85, 85);
}

.more:hover {
  background: rgb(255, 85, 85);
  color: rgb(255, 85, 85);
  color: white;
}
.text-block {
  position: absolute;
  height: 25%;
  bottom: 50px;
  background-color: rgb(243, 243, 243, 0.9);
  color: rgb(255, 85, 85);
  padding-left: 20px;
  padding-right: 20px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 21%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 77%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .text-block {right:50px;}


}
</style>
<div class="top" style="background-color:white; height: 500px; width: 100%; position: relative;" align="center">
    <img src="https://europeanbloodalliance.eu/wp-content/uploads/2018/11/Strategy.gif" height="100%" width="100%">
    <div class="text-block col-4 col-s-12">
      <h1>Donate blood</h1>
      <h3>Let help others by donating your blood.</h3>
    </div>
  </div>
 

<div class="row" align="center">
  
    <div class="rightcolumn">
    <div class="content col-10 col-s-12" id="ct" style="background-color:white; height:auto;">
        <h2 align="center" style="color:black;"><div>&nbsp;</div> การบริจาคเลือดดียังไง &nbsp <i class='fas fa-question' style='font-size:36px'></i> </h2>
        <!-- <img src="https://www.idirectbroker.com/img/article/01_4.jpg" height="300" width="40%" hspace="28%" align="center"> -->
        <br><br>

          <button class="accordion">1.ได้ตรวจสุขภาพแบบฟรีๆ</button>
          <div class="panel">
            <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspเพราะผู้บริจาคโลหิตจะต้องผ่านการ “ตรวจสุขภาพ” อย่างเคร่งครัดในระดับหนึ่ง รวมถึงตรวจหาความผิดปกติของเลือดอย่างละเอียดด้วย จึ
              งเหมือนได้รับการตรวจสุขภาพอย่างต่อเนื่องเป็นประจำ รู้ปัญหาสุขภาพตัวเองได้ไว และที่สำคัญไม่ต้องเสียค่าใช้จ่ายใด ๆ ทั้งสิ้น</p>
          </div>

          <button class="accordion">2.ทำให้ระบบไหลเวียนเลือดดีขึ้น สุขภาพแข็งแรงขึ้น เจ็บป่วยน้อยลง.</button>
          <div class="panel">
            <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspการบริจาคเลือดช่วยกระตุ้นการสร้างเม็ดเลือดใหม่ การบริจาคโลหิตนั้นเป็นการสละเลือดส่วนเกินที่ร่างกายไม่ใช้ ดีกว่า โดยสามารถบริจาคได้ทุก 3 เดือน เมื่อบริจาคออกไป ไขกระดูกจะถูกกระตุ้น การทำงานเพื่อให้มีการสร้างเม็ดเลือดใหม่ ที่มีคุณภาพขึ้นมาทดแทน 
              จึงส่งผลให้ เกิดข้อดีตามที่กล่าวมา</p>
          </div>

          <button class="accordion">3.ทำให้ผิวเรา วิบวับ</button>
          <div class="panel">
            <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspทำให้เรามีออร่าหน้าใสผิวพรรณเปล่งประกาย เพราะการบริจาคโลหิต ช่วยให้ระบบการไหลเวียนของเลือดดี เมื่อการไหลเวียนของเลือดดี การลำเลียงเลือดและออกซิเจนเพื่อไปหล่อเลี้ยงเซลล์ต่าง ๆ ในร่างกาย
              ซึ่งรวมถึงเซลล์ผิวของคนเราด้วยก็จะเป็นไปอย่างมีประสิทธิภาพ จึงช่วยให้ให้ผิวพรรณสดใส เปล่งปลั่ง มีน้ำมีนวล เปล่งประกายตามธรรมชาติ</p>
          </div>

          <button class="accordion">4.ลดความเสี่ยงจากโรคต่าง ๆ</button>
          <div class="panel">
            <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspผลการศึกษาพบว่า ผู้บริจาคโลหิตมีแนวโน้มจะมีอายุยืน ลดความเสี่ยงจากการเป็นมะเร็งและโรคต่าง ๆ ได้มากกว่าผู้ที่ไม่บริจาค ไม่ว่าจะเป็นมะเร็งตับ มะเร็งปอด มะเร็งลำไส้ใหญ่ มะเร็งกระเพาะอาหาร เป็นต้น อีกทั้งยังช่วยลดปริมาณธาตุเหล็กส่วนเกิน 
              ในร่างกาย อันเป็นปัจจัยของการเกิดโรคเส้นเลือดหัวใจอุดตัน รวมถึงโรคกล้ามเนื้อหัวใจตายเฉียบพลันด้วย</p>
          </div>

          <button class="accordion">5.จิตใจดีมีความสุข</button>
          <div class="panel">
            <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspการที่ได้บริจาคโลหิต ผู้บริจาคทุกคนจะรู้สึกสุขใจที่ได้เป็น “ผู้ให้” อิ่มเอิบใจกับการที่รู้สึกว่าตัวเองมีคุณค่า สามารถสร้างประโยชน์ต่อผู้คนหรือสังคมได้ มีโอกาสได้ทำความดี
              ได้เสียสละในสิ่งที่ไม่ได้ทำให้ตนยากลำบากแต่อย่างใด แต่กลับเป็นบุญที่ยิ่งใหญ่ที่สามารถช่วยผู้อื่นให้มีชีวิตรอดปลอดภัยได้</p>
          </div>
          <div>&nbsp;</div>


       


    </div>
    
</div>

<div class="col-10 col-s-12" style="background-color:white; height:auto;"> 
  
  <h2 align="center" style="color: black;"><div>&nbsp;</div> คุณสมบัติของผู้ที่ต้องการบริจาคเลือด &nbsp<i class='fas fa-clipboard-list' style='font-size:36px'></i> </h2>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >1.มีน้ำหนัก 45 กิโลกรัมขึ้นไป สุขภาพร่างกายสมบูรณ์ พร้อมที่จะบริจาคโลหิต</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >2.อายุระหว่าง 17 ปี ถึง 70 ปีบริบูรณ์ ผู้ที่มีอายุ 17 ปี ต้องมีหนังสือยินยอมจากผู้ปกครอง ถ้าเป็นผู้บริจาคครั้งแรกต้องอายุไม่เกิน 55 ปี</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >3.นอนหลับพักผ่อนให้เพียงพอในเวลาปกติของตนเอง ในคืนก่อนวันที่มาบริจาคโลหิตอย่างน้อย 6 ชั่วโมง</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >4.ไม่มีอาการท้องเสีย ท้องร่วง ใน 7 วันที่ผ่านมา หรือกำลังเป็นไข้หวัด</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >5. สตรีไม่อยู่ในระหว่างตั้งครรภ์หรือให้นมบุตร และไม่มีการคลอดบุตรหรือแท้งบุตรภายใน 6 เดือนที่ผ่านมา</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >6. น้ำหนักต้องไม่ลดผิดปกติในระยะ 3 เดือนที่ผ่านมา โดยไม่ทราบสาเหตุ</h5></div>
    <span id="dots"></span><span id="more">
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >7. หากรับประทานยาแอสไพริน, ยาคลายกล้ามเนื้อหรือยาแก้ปวดอื่นๆ ต้องหยุดยามาแล้ว 3 วัน ถ้าเป็นยาแก้อักเสบหรือยาอื่นๆ ต้องหยุดยามาแล้ว 7 วัน</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >8. ไม่เป็นโรคหอบหืด, ผิวหนังเรื้อรัง, วัณโรค หรือภูมิแพ้อื่นๆ</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >9. ไม่เป็นโรคความดันโลหิตสูง, เบาหวาน, หัวใจ, ตับ, ไต, มะเร็ง, ไทรอยด์,โลหิตออกง่าย-หยุดยาก หรือโรคประจำตัวอื่นๆ</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >10. หากถอนฟัน อุดฟัน ขูดหินปูนหรือรักษารากฟัน ต้องทิ้งระยะอย่างน้อย 3 วัน</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >11. หากเคยได้รับการผ่าตัดใหญ่ต้องเกิน 6 เดือน, ผ่าตัดเล็ก ต้องเกิน 1 เดือน</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >12.ท่านหรือคู่ครองของท่านต้องไม่มีพฤติกรรมเสี่ยงทางเพศ หรือเบี่ยงเบนทางเพศ</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >13. ต้องไม่มีประวัติยาเสพติด หรือเพิ่งพ้นโทษ ต้องเกิน 3 ปี และมีสุขภาพดี</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >14. หากเจาะหู, สัก, ลบรอยสักหรือฝังเข็มในการรักษา ต้องเกิน 1 ปี</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >15. หากมีประวัติเจ็บป่วยและได้รับโลหิตของผู้อื่น ต้องเกิน 1 ปี</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >16. หากมีประวัติเป็นมาเลเรีย ถ้าเคยเป็นต้องหายมาแล้วเกิน 3 ปี หากเคยเข้าไปในพื้นที่ ที่มีเชื้อมาเลเรียชุกชุม ต้องทิ้งระยะอย่างน้อยเกิน 1 ปี จึงบริจาคโลหิตได้</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >17. ต้องไม่ได้รับวัคซีนในระยะ 14 วัน หรือเซรุ่มในระยะ 1 ปี ที่ผ่านมา</h5></div>
    <div><h5 class="img-thumbnail col-6 col-s-10 a" >18. ก่อนบริจาคโลหิตต้องรับประทานอาหารให้เรียบร้อย หลีกเลี่ยงอาหารไขมันสูง เช่น ข้าวมันไก่ ข้าวข้าวหมู ของทอด ของหวาน แกงกะทิต่างๆ</h5></div>
    <h5><a class="page-scroll" href="https://www.redcross.or.th/home/" style="color:rgb(255, 85, 85);">referent from redcross</a></h5>
    </span></p><button onclick="myFunction()" class="btn more" id="myBtn">อ่านเพิ่มเติม</button>
    <div>&nbsp;</div>
    <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
        
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "อ่านเพิ่มเติม"; 
            moreText.style.display = "none";
            attribute.style.height = "660px";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "อ่านน้อยลง"; 
            moreText.style.display = "inline";
            attribute.style.height = "1700px";
          }
        }
        </script>
</div>

<div class="post col-10 col-s-12" id="post" style="  padding: 2%;">
    <center><div><h2 style="background-color: white; color: black; font-size: 20px;"><div>&nbsp;</div>ก็ได้เห็นกันไปแล้วว่าการ ช่วยเหลือผู้อื่นด้วยการบริจาคเลือดเนี่ย ดีแค่ไหน ทั้งได้ประโยชน์แก่ตนเอง และ ผู้อื่น ฉะนั้นเรามาช่วยผู้อื่นกันดีกว่า <i class='fas fa-hands-helping' style='font-size:36px'></i><div>&nbsp </div> </h2></div></center>
      
</div> 
</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";               
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
  

<%- include("partials/footer") %>